* {
    font-family: inherit;
    --black: #1b1b1e;
    --green: #58a4b0;
    --white: #d8dbe2;
    --grey: #373f51;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
#fight {
    left: 0;
}
.tracker {
    height: 95vh;
    width: 20vw;
    background-color: var(--grey);
    margin-top: 2.5vh;
    margin-left: 2.5vh;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    overflow-y: auto;
    z-index: 2;
    position: absolute;
}
.tracker::-webkit-scrollbar {
    display: none;
}
.tracker input {
    width: 95%;
    padding: 0;
    margin: 0;
    height: 5vh;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--green);
    color: var(--green);
    font-size: 3vh;
}
.character {
    width: 95%;
    background-color: var(--green);
    height: 6vh;
    margin-left: 2.5%;
    margin-top: 15px;
    text-align: left;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.type {
    height: 6vh;
    line-height: 6vh;
    width: 6vh;
    text-align: center;
    border-radius: 100%;
    color: var(--white);
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    background-size: contain;
}
.character table {
    display: inline-block;
    width: 45%;
    height: 100%;
}
td,
tr {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}
.outer {
    height: 2vh;
    width: 8vw;
    background-color: red;
    border-radius: 1vh;
    overflow: hidden;
    position: relative;
}
.inner {
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}
.outer span {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    font-size: 2vh;
    color: var(--white);
    line-height: 2vh;
    height: 2vh;
}
.character-ac {
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5vh;
    text-align: center;
    color: var(--black);
    line-height: 5vh;
    font-size: 15px;
    background-image: url(img/shield.png);
    background-size: contain;
}
.character-init {
    display: inline-block;
    vertical-align: top;
    height: 4vh;
    margin-top: 0.25vh;
    text-align: center;
    color: var(--black);
    line-height: 4vh;
    font-size: 15px;
    border: 2px solid var(--black);
    padding: 0.5vh;
    border-radius: 3px;
}
.character-init img {
    height: 4vh !important;
    vertical-align: top;
}
a {
    -webkit-tap-highlight-color: none;
    color: var(--black);
}
.tracker-options {
    position: absolute;
    top: calc(2.5vh + 2px);
    height: calc(95vh - 20px - 4px);
    width: 11vw;
    background-color: var(--green);
    left: 11vw;
    z-index: 1;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding-top: 20px;
    outline: 3px solid var(--grey);
}
.tracker-options:hover {
    left: calc(19vw + 2.5vh);
}
.tracker-options button {
    margin: 10px;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s ease-in-out;
}
.tracker-options button:hover {
    background-color: var(--grey);
}
.tracker-options span {
    text-decoration: line-through;
}
.tour {
    outline: 4px solid var(--white);
}
.fight {
    position: absolute;
    width: 75vh;
    height: 75vh;
    top: 12.5vh;
    right: 5.5vh;
    outline: 2px solid var(--white);
    border-radius: 5px;
}
.holder {
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    position: relative;
}
.area {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    outline: 2px solid var(--white);
    overflow: hidden;
}
.area canvas {
    width: 20vh;
    height: 20vh;
    position: absolute;
}
.edited {
    outline: 2px solid var(--green);
}
.holder span {
    display: inline-block;
    margin: 0;
    line-height: 4.75vh;
    text-align: center;
    font-size: 12px;
    outline: 1px solid var(--white);
    color: var(--white);
}
.leftPanel {
    position: absolute;
    top: 3.86vh;
    width: 3.86vh;
    height: 76.5vh;
}
.leftPanel span {
    width: 3.41vh;
    height: 3.41vh;
}
.topPanel {
    position: absolute;
    left: 3.41vh;
    top: 0;
    width: 76.5vh;
    height: 3.41vh;
}
.topPanel span {
    height: 3.41vh;
    width: 3.41vh;
}
.bottomPanel {
    position: absolute;
    left: 3.41vh;
    bottom: 0;
    width: 76.5vh;
    height: 3.41vh;
}
.bottomPanel span {
    height: 3.41vh;
    width: 3.41vh;
}
.rightPanel {
    position: absolute;
    top: 3.41vh;
    right: 0;
    width: 3.41vh;
    height: 76.5vh;
}
.rightPanel span {
    width: 3.41vh;
    height: 3.41vh;
}
.areaObject {
    position: absolute;
    min-height: 2vh;
    min-width: 2vh;
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
}
.areaBoss {
    background-image: url(img/boss.png);
}
.areaEnemy {
    background-image: url(img/monster.png);
}
.areaPlayer {
    background-image: url(img/player.png);
}
.areaNPC {
    background-image: url(img/NPC.png);
}
.areaPet {
    background-image: url(img/pet.png);
}
.areaRock {
    background-image: url(img/rock.png);
}
.areaMud {
    background-image: url(img/mud.png);
    width: 6vh;
    height: 6vh;
}
.relative {
    position: relative;
}
.option {
    display: none;
    position: absolute;
    border: 2px solid var(--white);
    width: calc(100% - 4px);
    display: block;
    transition: background 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    padding: 2px;
    text-align: left;
    font-size: 1vw;
    background-color: var(--green);
}
.stats {
    position: absolute;
    height: 95vh;
    top: 2.5vh;
    left: calc(20vw + 2.5vh + 4vh);
    width: 31vw;
    background-color: var(--green);
    border-radius: 4px;
    text-align: center;
}
.stats img {
    height: 15vh;
}
.stats span {
    font-size: 35px;
}
.stats input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 35px;
    border-bottom: 2px solid var(--black);
    text-align: center;
}
.inspect {
    height: 10vh !important;
    min-width: 10vh;
    line-height: 10vh !important;
    font-size: 30px !important;
}
.inspect img {
    height: 8vh !important;
    vertical-align: middle !important;
}
.inspect-span {
    font-size: 100% !important;
    line-height: 3vh !important;
}
.inspect-health {
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 80%;
    height: 3vh;
}
.stats textarea {
    width: calc(12.4vw);
    height: calc(12.4vw);
    margin: 10px;
    margin-top: 40px;
    background-color: var(--grey);
    resize: none;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--white);
    padding: 5px;
}
.special {
    width: calc(24.8vw + 35px) !important;
    height: 17vh !important;
    margin: 0 !important;
}
.cv {
    position: absolute;
    transform: translate(-10vh, -10vh);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.typeChooser {
    position: absolute;
    top: 0;
    left: -600px;
    width: 20vw;
    background-color: var(--black);
    border-radius: 3px;
    text-align: center;
    border: 2px solid var(--grey);
    padding-top: 5px;
    padding-bottom: 5px;
}
.typeChooser img {
    width: 3vw;
    filter: invert(62%) sepia(25%) saturate(698%) hue-rotate(140deg) brightness(91%) contrast(85%);
    margin: 3px;
    z-index: 999;
}
