@font-face {
    font-family: 'felwood';
    src: url('Felwood-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #010400;
    margin: 0;
    padding: 0;
    font-family: 'felwood';
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    transition: all .3s ease-in-out;
}
h1 {
    color: #62BBC1;
    font-size: 10vh;
    margin-top: 15px;
    margin-bottom: 15px;
}
.credential {
    width: 60%;
    min-height: 8vh;
    background-color: #62BBC1;
    border-radius: 5px;
    display: inline-block;
    color: #010400;
    font-size: 5vh;
    line-height: 8vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px
}
.button {
    background-color: #30332E;
    width: 60%;
    display: inline-block;
    margin-top: 20px;
    height: 8vh;
    line-height: 8vh;
    font-size: 6vh;
    border-radius: 5px;
    color: #62BBC1;
    transition: all .3s ease-in-out;
    text-align: center;
    margin-bottom: 20px;
}
.button:hover {
    background-color: #EC058E;
    color: #30332E;
}
::-webkit-scrollbar {
    width:10px;border-radius:5px
}
::-webkit-scrollbar-track {
    background:#30332E;border-radius:5px
}
::-webkit-scrollbar-thumb {
    background:#62BBC1;border-radius:5px
}
::-webkit-scrollbar-thumb:hover {
    background:#EC058E;border-radius:5px
}
a {
    color: black;
    -webkit-tap-highlight-color: none;
}
