* {
    font-family: inherit;
    --black: #1B1B1E;
    --green: #58A4B0;
    --white: #D8DBE2;
    --grey: #373F51;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--black);
    text-align: center;
}
h1 {
    font-size: 5vh;
    background-color: var(--green);
    width: 40%;
    margin-left: 30%;
    border-radius: 3px;
    color: var(--white);
}
.company {
    width: 15vw;
    background-color: var(--grey);
    border: 2px solid var(--white);
    display: inline-block;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    margin: 2vw
}
.company img {
    width: 100%;
    height: 15vh;
}
.company span {
    display: inline-block;
    background-color: var(--green);
    padding: 2px;
    color: var(--black);
    border-radius: 2px;
    margin-top: 1vh;
    font-size: 15px;
}
.company:hover {
    background-color: var(--black);
}
.company h2 {
    color: var(--white);
}