* {
    font-family: inherit;
    --black: #1B1B1E;
    --green: #58A4B0;
    --white: #D8DBE2;
    --grey: #373F51;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--black);
}
.side {
    width: 30vw;
    height: 98vh;
    vertical-align: top;
    padding-top: 2vh;
    position: absolute;
    left: 0;
    top: 0
}
.category {
    width: calc(90% - 40px);
    /*height: calc(8vh - 40px);*/
    background-color: var(--green);
    border-radius: 4px;
    margin-left: 5%;
    line-height: calc(8vh - 40px);
    padding: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}
.category span {
    font-size: 7vh;
    transition: all .2s ease-in-out;
    float: left;
}
.category input {
    height: calc(8vh - 40px);
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3vh;
    padding-left: 20px;
    width: 70%;
    white-space: nowrap;
}
.quest {
    background-color: var(--grey);
    width: calc(80% - 20px);
    margin-left: 15%;
    font-size: 3vh;
    height: calc(5vh - 20px);
    line-height: calc(5vh - 20px);
    padding: 10px;
    border-radius: 4px;
    color: var(--white);
    margin-top: 20px
}
.inspect {
    position: absolute;
    left: 30vw;
    top: 0;
    width: 70vw;
    height: 100vh;
}
.small {
    width: 29vw;
    height: 9vh;
    display: inline-block;
    border-radius: 5px;
    margin-left: 3vw;
    margin-top: 10px;
    overflow: hidden;
}
.small span {
    font-size: 25px;
    color: var(--white);
}
.small input {
    background-color: var(--green);
    border: none;
    outline: none;
    padding: 5px;
    height: 3.5vh;
    width: 100%;
    line-height: 5vh;
    font-size: 3vh;
}
.state {
    width: 29vw;
    margin-left: 3vw;
    background-color: var(--green);
    height: 10vh;
    text-align: center;
    margin-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    display: inline-block;
}
.state span {
    font-size: 25px;
    color: var(--white);
    width: 100%;
    background-color: var(--black);
    display: block;
    text-align: left;
}
.state select {
    width: 100%;
    height: 60%;
    background-color: transparent;
    font-size: 3vh;
    outline: none;
    border: none;
}
.state input {
    width: 15px;
    height: 15px;
}
.state table {
    width: 80%;
    margin-left: 10%;
}
.state td {
    width: 25%;
    font-size: 14px;
    margin-top: 0;
    padding: 0;
}
.big {
    width: 29vw;
    display: inline-block;
    border-radius: 5px;
    margin-left: 3vw;
    margin-top: 10px;
    overflow: hidden;
}
.big span {
    font-size: 25px;
    color: var(--white);
}
.big textarea {
    width: calc(100% - 20px);
    background-color: var(--green);
    padding: 10px;
    height: calc(100vh - (21vh + 60px + 20px + 9vh + 20px + 70px + 20px));
    border-radius: 5px;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none;
    font-size: 25px;
}
form input[type = "submit"] {
    display: none;
}
form input[type = "text"] {
    width: calc(80% - 20px);
    margin-left: 15%;
    padding: 10px;
    height: calc(5vh - 20px);
    background-color: var(--grey);
    margin-top: 20px;
    border-radius: 5px;
    font-size: 3vh;
    line-height: calc(5vh - 20px);
    color: var(--white);
    border: none;
    outline: none;
}
form {
    margin-bottom: 20px;
}
#leftClick {
    position: absolute;
    top: 200px;
    left: -2000px;
    width: 12vw;
    height: auto;
    background-color: var(--green);
    outline: var(--white) 2px solid;
    text-align: center;
    z-index: 999;
}
#leftClick span {
    border-bottom: 1px solid var(--white);
    width: calc(100% - 4px);
    display: block;
    transition: background .1s ease-in-out;
    transition: color .1s ease-in-out;
    padding: 2px;
    text-align: left;
    font-size: 1vw;
    height: 1vw;
}
#leftClick span:hover {
    background-color: var(--grey);
    color: var(--white)
}
#leftClick span:active {
    background-color: var(--black);
}