* {
    font-family: inherit;
    --black: #1b1b1e;
    --green: #58a4b0;
    --white: #d8dbe2;
    --grey: #373f51;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--black);
}
.Generator {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.button {
    height: calc(5vh - 10px);
    background-color: var(--green);
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    margin: 0.5vw;
    margin-top: 0.5vw;
    line-height: calc(5vh - 10px);
    font-size: 15px;
    color: var(--black);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.button:hover {
    background-color: var(--grey);
    color: var(--white);
}
.button:active {
    background-color: var(--black);
}
textarea {
    width: calc(90vw - 10px);
    padding: 5px;
    margin-top: 2vw;
    height: calc(100vh - 6vw - 5vh - 10px);
    background-color: var(--grey);
    color: var(--white);
    border: none;
    outline: none;
    resize: none;
    font-size: 15px;
    border-radius: 3px;
    color: var(--white);
}
.Generator span {
    display: inline-block;
    height: calc(5vh - 10px);
    width: 3vw;
    background-color: var(--grey);
    padding: 5px;
    margin-top: 2vw;
    margin-left: 1vw;
    border-radius: 3px;
    color: var(--white);
    line-height: calc(5vh - 10px);
    font-size: 15px;
}
input {
    display: inline-block;
    height: calc(5vh - 10px);
    width: 12vw;
    background-color: var(--grey);
    padding: 5px;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    border-radius: 3px;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 15px;
}
