* {
    font-family: inherit;
    --black: #1b1b1e;
    --green: #58a4b0;
    --white: #d8dbe2;
    --grey: #373f51;
    --common: #58a4b0;
    --uncommon: rgb(15, 110, 15);
    --rare: rgb(11, 11, 121);
    --veryRare: rgb(120, 120, 230);
    --legendary: rgb(252, 214, 0);
    --artifact: rgb(151, 17, 17);
    --unique: #d8dbe2;
    --playable: #1a5e68;
    --unPlayable: rgb(151, 17, 17);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
.select {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
}
.sort {
    display: inline-block;
    width: 3.9vw;
    height: 3.9vw;
    background-color: var(--green);
    border-radius: 2px;
    margin-top: 1vw;
    margin-left: 1vw;
    transition: all 0.2s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.sort:hover {
    background-color: var(--grey);
}
.sort:active {
    background-color: var(--black);
}
#boss {
    background-image: url(img/boss.png);
}
#enemy {
    background-image: url(img/enemy.png);
}
#ally {
    background-image: url(img/ally.png);
}
#pet {
    background-image: url(img/pet.png);
}
#nonCombat {
    background-image: url(img/nonCombat.png);
}
#all {
    background-image: url(img/all.png);
}
.list {
    width: 100%;
    height: calc(100vh - 4.8vw - 2vw);
    margin-top: 1vw;
    overflow: auto;
}
.item {
    width: calc(4.8vw * 5 + 4vw);
    height: 3vh;
    background-color: var(--grey);
    margin-left: 1vw;
    border-radius: 2px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 2px;
    cursor: pointer;
}
.item span:nth-child(1) {
    width: 60%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.item img:nth-child(3) {
    height: 3vh;
    float: right;
    filter: invert(64%) sepia(9%) saturate(1706%) hue-rotate(140deg) brightness(90%) contrast(90%);
}
.item img:nth-child(2) {
    height: 100%;
    border-radius: 3px;
}
.inspect {
    position: absolute;
    top: 0;
    left: 30vw;
    width: 70vw;
    height: 100vh;
}
.info {
    width: 30vw;
    height: 8vh;
    margin-left: 3.333vw;
    margin-top: 1vw;
    display: inline-block;
}
.info span,
.description span {
    color: var(--white);
    font-size: 15px;
}
.info input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: var(--green);
    border-radius: 2px;
    color: var(--black);
    font-size: 15px;
}
.info select {
    width: 100%;
    height: 30px;
    background-color: var(--green);
    outline: none;
    border: none;
    font-size: 15px;
    color: var(--black);
}
.inspect img {
    height: 20vh;
    transform: translateX(-50%);
    margin-left: 50%;
    border: 2px solid var(--green);
    border-radius: 3px;
    margin-top: 1vw;
}
.description {
    width: 63.333vw;
    height: 40vh;
    margin-left: 3.333vw;
}
textarea {
    width: calc(100% - 10px);
    padding: 5px;
    height: 35vh;
    background-color: var(--grey);
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 3px;
    resize: none;
}
.new {
    outline: 4px solid var(--playable);
}
.pdf {
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border: 2px solid var(--white);
    border-radius: 3px;
    position: absolute;
    top: 1vw;
    right: 3.33vw;
    background-image: url(img/pdf.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 10%;
    transition: all 0.1s ease-in-out;
}
.pdf:hover {
    background-color: var(--grey);
}
.pdf:active {
    background-color: var(--black);
}
