* {
    font-family: inherit;
    --black: #1b1b1e;
    --green: #58a4b0;
    --white: #d8dbe2;
    --grey: #373f51;
    --common: #1a5e68;
    --uncommon: rgb(15, 110, 15);
    --rare: rgb(11, 11, 121);
    --veryRare: rgb(120, 120, 230);
    --legendary: rgb(252, 214, 0);
    --artifact: rgb(151, 17, 17);
    --unique: #d8dbe2;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    overflow: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
.holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--grey);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.elem {
    width: calc(5vh - 2px);
    height: calc(5vh - 2px);
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid {
    border: 1px solid var(--white);
}
.nogrid {
    border: 1px solid transparent;
}
.selectPanel {
    position: absolute;
    top: -100vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 50vw;
    height: 90vh;
    background-color: var(--green);
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    z-index: 999;
}
.selectPanel h1 {
    color: var(--black);
}
.container {
    height: 75vh;
    width: calc(100% - 20px);
    padding: 10px;
    overflow: auto;
}
.container img {
    width: 20%;
    aspect-ratio: 1.6;
    margin: 5%;
}
.area {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.areaObject {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 999;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
}
.areaBoss {
    background-image: url(img/boss.png);
    width: 7vh !important;
    height: 7vh !important;
    border-radius: 50%;
}
.areaBed {
    background-image: url(img/bed.png);
    width: 7.5vh !important;
    height: 7.5vh !important;
}
.areaBloodPool {
    background-image: url(img/bloodPool.png);
    width: 5vh !important;
    height: 5vh !important;
}
.areaChest {
    background-image: url(img/chest.png);
    height: 4vh !important;
    width: 5vh;
}
.areaCorpse {
    background-image: url(img/corpse.png);
    width: 10vh !important;
    height: 10vh !important;
}
.areaDesk {
    background-image: url(img/desk.png);
    width: 7.5vh !important;
    height: 6vh !important;
}
.areaWardrobe {
    background-image: url(img/wardrobe.png);
    height: 10vh !important;
    aspect-ratio: 1000/900;
}
.areaWeapon {
    background-image: url(img/weapon.png);
    width: 5vh !important;
    aspect-ratio: 728/600;
}
.areaPet {
    background-image: url(img/pet.png);
    width: 4vh !important;
    aspect-ratio: 1000/900;
}
.areaEnemy {
    background-image: url(img/enemy.png);
    width: 4vh !important;
    aspect-ratio: 1000/900;
}
.areaPlayer {
    background-image: url(img/player.png);
    width: 4vh !important;
    aspect-ratio: 1000/900;
}
.areaNPC {
    background-image: url(img/NPC.png);
    width: 4vh !important;
    aspect-ratio: 1000/900;
}
.items {
    width: 100px;
    height: 200px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: -1200px;
    background-color: var(--green);
    border: 2px solid var(--white);
    z-index: 99999;
}
.items span {
    display: block;
    width: 100%;
    height: 15px;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    color: var(--black);
    line-height: 15px;
    font-size: 10px;
    transition: all 0.1s ease-in-out;
}
.items span:hover {
    background-color: var(--grey);
    color: var(--white);
}
.items span:active {
    background-color: var(--black);
    color: var(--white);
}
.info {
    width: 150px;
    position: absolute;
    top: 100px;
    left: -1200px;
    z-index: 99999;
    text-align: center;
    background-color: var(--green);
    padding: 5px;
    border: 3px solid var(--white);
    border-radius: 4px;
}
.info img {
    width: 80%;
    border-radius: 4px;
}
.info span {
    font-size: 15px;
}