@font-face {
    font-family: 'felwood';
    src: url('Felwood-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
audio {
    display: none;
}
body {
    background-color: #010400;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: hidden;
    font-family: 'felwood';
}
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}
.container {
    transform: translateY(-50%);
    margin-top: 50vh;
}
h1 {
    font-size: 10vh;
    color: #62BBC1;
    margin: 20px;
}
.button {
    background-color: #30332E;
    width: 60%;
    display: inline-block;
    margin: 20px;
    height: 8vh;
    line-height: 8vh;
    font-size: 6vh;
    border-radius: 5px;
    color: #62BBC1;
    transition: all .3s ease-in-out;
}
.button:hover {
    background-color: #EC058E;
    color: #30332E;
}
::-webkit-scrollbar {
    width:10px;border-radius:5px
}
::-webkit-scrollbar-track {
    background:#30332E;border-radius:5px
}
::-webkit-scrollbar-thumb {
    background:#62BBC1;border-radius:5px
}
::-webkit-scrollbar-thumb:hover {
    background:#EC058E;border-radius:5px
}