@font-face {
    font-family: 'Manga Style';
    src: url(./special.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Jujutsu Kaisen';
    src: url(./main.woff2) format('woff2');
    font-weight: normal;
}